<!--
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry
            location="E:\Volumes\APPDATA\.m2\repository\mysql\mysql-connector-java\5.1.38\mysql-connector-java-5.1.38.jar" />
    <context id="DB2Tables" targetRuntime="MyBatis3" defaultModelType="flat">
        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="[e|E]xample$" />
            <property name="replaceString" value="Criteria" />
        </plugin>

        <commentGenerator>
            <property name="suppressAllComments" value="true" />
            <property name="suppressDate" value="true" />
        </commentGenerator>

        &lt;!&ndash; test数据库&ndash;&gt;
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.93.13.5:3306/mysql"
                        userId="root"
                        password="123456">
        </jdbcConnection>
        &lt;!&ndash; test数据库&ndash;&gt;
     &lt;!&ndash; <jdbcConnection driverClass="oracle.jdbc.driver.OracleDriver"
                        connectionURL="jdbc:oracle:thin:@//192.168.31.223:1521/oraga"
                        userId="xxd_v6_test"
                        password="Fc9a5cc">
        </jdbcConnection>&ndash;&gt;

        <javaTypeResolver>
            <property name="forceBigDecimals" value="true" />
        </javaTypeResolver>

        &lt;!&ndash; 自动生成 entity &ndash;&gt;
        <javaModelGenerator targetPackage="com.example.demo.dao.entity"
                            targetProject="${java.dir}">
            <property name="enableSubPackages" value="false" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        &lt;!&ndash; 自动生成 xml &ndash;&gt;
        <sqlMapGenerator targetPackage="com.example.demo.dao.mapper"
                          targetProject="${java.dir}">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        &lt;!&ndash; 自动生成 mapper 接口 &ndash;&gt;
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.example.demo.dao.mapper" targetProject="${java.dir}">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>

        &lt;!&ndash; 需要生成的表 &ndash;&gt;
        &lt;!&ndash; 新表需要生成基础文件时，只需更改一下 tableName & domainObjectName 两个字段 &ndash;&gt;
        <table tableName="user" domainObjectName="User" enableSelectByExample="false" enableDeleteByExample="false" enableCountByExample="false" enableUpdateByExample="false" selectByExampleQueryId="false">
            <property  name="user" value="false" />
        </table>

    </context>
</generatorConfiguration>-->
